@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
