
:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px; /* Adjust the size as needed */
  font-weight: bold;
  color: white; /* White text color */
  text-transform: uppercase; /* Uppercase text */
  text-align: center; /* Center the text */
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000; /* Black outline */
}

